numpy
pandas
scikit-learn
streamlit
scipy
plotly
datetime
streamlit_extras
streamlit-elements==0.1.
streamlit-option-menu
streamlit-player
streamlit-on-Hover-tabs
altair
streamlit-card
streamlit-authenticator
streamlit_js_eval
requests
xlsxwriter
librosa
joblib
scikit-image
streamlit-mic-recorder
keras
tensorflow
torch
torchvision